@import url(""https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&family=PT+Sans:ital@1&family=Playfair+Display:ital,wght@0,400;1,500&family=Prosto+One&family=Roboto+Condensed:wght@300&family=Rubik+Bubbles&display=swap"");
*{
    margin: 0;
    padding: 0;
    font-family:'Playfair Display', serif;; 
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;    
}
body{
    background: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(home.jpg);
    background-position: center;
    background-size: cover;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;/*display horizontlly*/
    list-style: none;
    margin: 10px 20px;

}

nav ul li a{
    color:#fff;
    text-decoration: none;/*remove underline*/
    font-size: 20px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #FF0000;
    position:absolute;
    left:0;
    bottom: -8px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 100px;
    margin-top: 40px;
}


/* ------------------------------about----------------------------------------------------------------------------------------------------*/
#about{
     padding: 80px 0;
     color: #fff;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.leftColumn{
    flex: basis 35%;/*width of the column will be 35% */
}
.leftColumn img{
    width: 80%;
    border-radius: 15px;
}
.rightColumn{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.titles{
    display: flex;
    margin: 20px 0 40px;
}
.links{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff0000;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.links.active-link::after{
    width:50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #ff0000;
    font-size: 14px;
}
.tab-contents{
    display:none;
}
.tab-contents.active-tab{
    display: block;
}
/* -----------------------------------hobbies------------------------------- */
#hobbies{
    padding: 30px 0;
}
.Hobbies-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
}
.Hobbies-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.Hobbies-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.Hobbies-list div h2{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 15px;
}
.Hobbies-list div p{
    font-size: 20px;
}
.Hobbies-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}
/* ----------------------------------------------family----------------------------------------- */
#family{
    padding: 50px 0px; /*50pxtop-bottom 0pxleft-right  */
}
.familyMembers{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:20px;
    margin-top: 50px;
}
.father{
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}
.father img{
    width: 100%;
    border-radius: 15px;
    display: block;
    transition: transform 0.5s;
}
.mother{
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}
.mother img{
    width: 100%;
    border-radius: 15px;
    display: block;
    transition: transform 0.5s;
}
.brother{
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}
.brother img{
    width: 100%;
    border-radius: 15px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1),#ff004f);
    border-radius: 10px;
    position: absolute;
    left:0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.father:hover img{
    transform: scale(1.1);
}
.mother:hover img{
    transform: scale(1.1);
}
.brother:hover img{
    transform: scale(1.1);
}
.father:hover .layer{
    height:100%
}
.mother:hover .layer{
    height: 100%;
}
.brother:hover .layer{
    height: 100%;
}
/* --------------------------------------------------------Contact Me--------------------------------------------------------------------- */
.left{
    flex-basis: 35%;
}
.right{
    flex-basis: 60%;
}
.left p{
    margin-top: 30px;
}
.left p i{
    margin-right: 15px;
    font-size: 25px;
    color: #ff004f;
}
.socialicons{
    margin-top: 30px;
}
.socialicons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.socialicons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.button{
    display: inline-block;
    background: #ff004f;
    border: 1px solid;
    color: #fff;
    padding: 0.75rem 2.5rem;
    font-weight: 600;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 50px
}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
    border: 1px solid;
    color: #fff;
    padding: 0.75rem 2.5rem;
    font-weight: 600;
    border-radius: 0.5rem;
}
.right form{ 
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    margin: 15px 0;
    padding: 15px;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
.Copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 30px;
}
.Copyright i{
    color: #FF0000;
}
/* -----------------------------------------css for small screen------------------------------------- */
nav .fas{
    display: none;
}
@media only screen and (max-width: 600px){
    #header{
        background-image: url(mobile.jpg);
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
        margin-bottom: 30px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
}
nav ul{
    background: #ff004f;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding: 50px;
    z-index: 2;
    transition: right 0.5s;
}
nav ul li{
    display: block;
    margin: 25px;
}
nav ul .fas{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
}
.sub-title{
    font-size: 40px;
}
.leftColumn, .rightColumn{
    flex-basis: 100%;
}
.leftColumn{
    margin-bottom: 30px;
}
.rightColumn{
    font-size: 14px;
}
.left, .right{
    flex-basis: 100%;
}
#msg{
    color: #61b752;
    margin: -10px;
    display: block;
}
}